--
-- PostgreSQL database dump
--

-- Dumped from database version 15.12
-- Dumped by pg_dump version 15.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: modelprovider; Type: TYPE; Schema: public; Owner: sa
--

CREATE TYPE public.modelprovider AS ENUM (
    'OPENAI',
    'ANTHROPIC',
    'OLLAMA',
    'CUSTOM'
);


ALTER TYPE public.modelprovider OWNER TO sa;

--
-- Name: modelstatus; Type: TYPE; Schema: public; Owner: sa
--

CREATE TYPE public.modelstatus AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'DEPRECATED'
);


ALTER TYPE public.modelstatus OWNER TO sa;

--
-- Name: requesttype; Type: TYPE; Schema: public; Owner: sa
--

CREATE TYPE public.requesttype AS ENUM (
    'CHAT',
    'COMPLETION',
    'EMBEDDING',
    'IMAGE_GENERATION',
    'AUDIO_TRANSCRIPTION',
    'AUDIO_TRANSLATION'
);


ALTER TYPE public.requesttype OWNER TO sa;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agent; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.agent (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    type character varying(50) NOT NULL,
    status character varying(20) NOT NULL,
    configuration json NOT NULL,
    prompt_template character varying,
    project_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.agent OWNER TO sa;

--
-- Name: agent_tools; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.agent_tools (
    agent_id uuid NOT NULL,
    tool_id uuid NOT NULL,
    configuration json
);


ALTER TABLE public.agent_tools OWNER TO sa;

--
-- Name: ai_model; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.ai_model (
    id character varying(100) NOT NULL,
    provider character varying(50) NOT NULL,
    version character varying(50) NOT NULL,
    capabilities json NOT NULL,
    context_window integer NOT NULL,
    cost_per_1k_input double precision,
    cost_per_1k_output double precision,
    is_local boolean NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ai_model OWNER TO sa;

--
-- Name: approval_request; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.approval_request (
    id uuid NOT NULL,
    approved boolean,
    comment character varying
);


ALTER TABLE public.approval_request OWNER TO sa;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.audit_log (
    id uuid NOT NULL,
    entity_id uuid NOT NULL,
    entity_type character varying(50) NOT NULL,
    action character varying(50) NOT NULL,
    previous_state json,
    new_state json,
    actor_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_log OWNER TO sa;

--
-- Name: clarification_request; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.clarification_request (
    id uuid NOT NULL,
    answer character varying
);


ALTER TABLE public.clarification_request OWNER TO sa;

--
-- Name: communication; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.communication (
    id uuid NOT NULL,
    from_agent_id uuid NOT NULL,
    to_agent_id uuid NOT NULL,
    content json NOT NULL,
    type character varying(50) NOT NULL,
    communication_metadata json,
    sent_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.communication OWNER TO sa;

--
-- Name: feedback_request; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.feedback_request (
    id uuid NOT NULL,
    feedback json
);


ALTER TABLE public.feedback_request OWNER TO sa;

--
-- Name: human_interaction; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.human_interaction (
    id uuid NOT NULL,
    entity_id uuid NOT NULL,
    entity_type character varying(50) NOT NULL,
    interaction_type character varying(50) NOT NULL,
    type character varying(50) NOT NULL,
    content json NOT NULL,
    response json,
    user_id uuid,
    status character varying(20) NOT NULL,
    priority integer NOT NULL,
    response_at timestamp with time zone,
    expires_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.human_interaction OWNER TO sa;

--
-- Name: model_budget; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.model_budget (
    id character varying(100) NOT NULL,
    project_id uuid,
    monthly_limit double precision NOT NULL,
    current_usage double precision NOT NULL,
    last_reset timestamp with time zone NOT NULL,
    alert_percentage integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.model_budget OWNER TO sa;

--
-- Name: model_feedback; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.model_feedback (
    id uuid NOT NULL,
    request_id character varying(100) NOT NULL,
    model_id character varying(100) NOT NULL,
    task_type character varying(50),
    quality_rating double precision,
    success boolean NOT NULL,
    feedback_text character varying,
    has_corrections boolean NOT NULL,
    original_content character varying,
    corrected_content character varying,
    user_id character varying(100),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.model_feedback OWNER TO sa;

--
-- Name: model_performance; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.model_performance (
    id uuid NOT NULL,
    model_id character varying(100) NOT NULL,
    task_type character varying(50) NOT NULL,
    quality_score double precision NOT NULL,
    success_rate double precision NOT NULL,
    sample_count integer NOT NULL,
    metrics json,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.model_performance OWNER TO sa;

--
-- Name: model_performance_history; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.model_performance_history (
    id uuid NOT NULL,
    model_id character varying(100) NOT NULL,
    period_start timestamp with time zone NOT NULL,
    period_end timestamp with time zone NOT NULL,
    period_type character varying(20) NOT NULL,
    task_type character varying(50) NOT NULL,
    quality_score double precision NOT NULL,
    success_rate double precision NOT NULL,
    sample_count integer NOT NULL,
    metrics json,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.model_performance_history OWNER TO sa;

--
-- Name: model_performance_metric; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.model_performance_metric (
    id character varying(100) NOT NULL,
    model_id character varying(100) NOT NULL,
    task_type character varying(50) NOT NULL,
    success boolean NOT NULL,
    latency_ms integer NOT NULL,
    input_tokens integer NOT NULL,
    output_tokens integer NOT NULL,
    error_message character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.model_performance_metric OWNER TO sa;

--
-- Name: model_usage; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.model_usage (
    id character varying(100) NOT NULL,
    model_id character varying(100) NOT NULL,
    project_id uuid,
    agent_id uuid,
    task_id uuid,
    input_tokens integer NOT NULL,
    output_tokens integer NOT NULL,
    cost double precision,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.model_usage OWNER TO sa;

--
-- Name: models; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.models (
    id uuid NOT NULL,
    model_id character varying(100) NOT NULL,
    provider public.modelprovider NOT NULL,
    display_name character varying(100),
    description character varying,
    capabilities character varying[] NOT NULL,
    status public.modelstatus NOT NULL,
    max_tokens integer,
    token_limit integer,
    cost_per_token double precision,
    configuration json,
    model_metadata json,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.models OWNER TO sa;

--
-- Name: notification; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.notification (
    id uuid NOT NULL,
    level character varying(20) NOT NULL,
    requires_acknowledgement boolean NOT NULL,
    acknowledged boolean NOT NULL
);


ALTER TABLE public.notification OWNER TO sa;

--
-- Name: optimization_implementation; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.optimization_implementation (
    id uuid NOT NULL,
    suggestion_id uuid NOT NULL,
    implementation_details json NOT NULL,
    implemented_by uuid,
    result_metrics json,
    success boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.optimization_implementation OWNER TO sa;

--
-- Name: optimization_suggestion; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.optimization_suggestion (
    id uuid NOT NULL,
    category character varying(50) NOT NULL,
    description character varying NOT NULL,
    evidence json NOT NULL,
    status character varying(20) NOT NULL,
    impact_score double precision NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.optimization_suggestion OWNER TO sa;

--
-- Name: performance_metric; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.performance_metric (
    id uuid NOT NULL,
    entity_id uuid NOT NULL,
    entity_type character varying(50) NOT NULL,
    metric_name character varying(100) NOT NULL,
    metric_value double precision NOT NULL,
    context json,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.performance_metric OWNER TO sa;

--
-- Name: project; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.project (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    description character varying,
    status character varying(20) NOT NULL,
    owner_id uuid,
    project_metadata json,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.project OWNER TO sa;

--
-- Name: provider_quotas; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.provider_quotas (
    id uuid NOT NULL,
    provider public.modelprovider NOT NULL,
    daily_token_limit integer,
    monthly_token_limit integer,
    daily_cost_limit double precision,
    monthly_cost_limit double precision,
    daily_tokens_used integer NOT NULL,
    monthly_tokens_used integer NOT NULL,
    daily_cost_used double precision NOT NULL,
    monthly_cost_used double precision NOT NULL,
    daily_reset_at timestamp with time zone,
    monthly_reset_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.provider_quotas OWNER TO sa;

--
-- Name: requests; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.requests (
    id uuid NOT NULL,
    request_id character varying(100) NOT NULL,
    request_type public.requesttype NOT NULL,
    model_id character varying(100) NOT NULL,
    provider public.modelprovider NOT NULL,
    user_id character varying(100),
    project_id character varying(100),
    task_id character varying(100),
    request_data json NOT NULL,
    response_data json,
    prompt_tokens integer,
    completion_tokens integer,
    total_tokens integer,
    latency_ms double precision,
    cost double precision,
    success boolean NOT NULL,
    error_message character varying,
    error_code character varying(50),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    completed_at timestamp with time zone
);


ALTER TABLE public.requests OWNER TO sa;

--
-- Name: task; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.task (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    description character varying,
    status character varying(20) NOT NULL,
    priority integer NOT NULL,
    start_date timestamp with time zone,
    due_date timestamp with time zone,
    completed_at timestamp with time zone,
    project_id uuid NOT NULL,
    agent_id uuid,
    result json,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.task OWNER TO sa;

--
-- Name: task_dependencies; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.task_dependencies (
    id uuid NOT NULL,
    dependent_task_id uuid NOT NULL,
    dependency_task_id uuid NOT NULL,
    dependency_type character varying(20) NOT NULL
);


ALTER TABLE public.task_dependencies OWNER TO sa;

--
-- Name: tool; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.tool (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    description character varying,
    capability character varying(100) NOT NULL,
    source character varying(50) NOT NULL,
    documentation_url character varying,
    schema json,
    integration_type character varying(50),
    status character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.tool OWNER TO sa;

--
-- Name: user; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public."user" (
    id uuid NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(100) NOT NULL,
    is_active boolean NOT NULL,
    is_admin boolean NOT NULL,
    role character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    permissions json,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public."user" OWNER TO sa;

--
-- Data for Name: agent; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.agent (id, name, type, status, configuration, prompt_template, project_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: agent_tools; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.agent_tools (agent_id, tool_id, configuration) FROM stdin;
\.


--
-- Data for Name: ai_model; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.ai_model (id, provider, version, capabilities, context_window, cost_per_1k_input, cost_per_1k_output, is_local, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: approval_request; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.approval_request (id, approved, comment) FROM stdin;
\.


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.audit_log (id, entity_id, entity_type, action, previous_state, new_state, actor_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: clarification_request; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.clarification_request (id, answer) FROM stdin;
\.


--
-- Data for Name: communication; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.communication (id, from_agent_id, to_agent_id, content, type, communication_metadata, sent_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: feedback_request; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.feedback_request (id, feedback) FROM stdin;
\.


--
-- Data for Name: human_interaction; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.human_interaction (id, entity_id, entity_type, interaction_type, type, content, response, user_id, status, priority, response_at, expires_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: model_budget; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.model_budget (id, project_id, monthly_limit, current_usage, last_reset, alert_percentage, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: model_feedback; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.model_feedback (id, request_id, model_id, task_type, quality_rating, success, feedback_text, has_corrections, original_content, corrected_content, user_id, created_at) FROM stdin;
\.


--
-- Data for Name: model_performance; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.model_performance (id, model_id, task_type, quality_score, success_rate, sample_count, metrics, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: model_performance_history; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.model_performance_history (id, model_id, period_start, period_end, period_type, task_type, quality_score, success_rate, sample_count, metrics, created_at) FROM stdin;
\.


--
-- Data for Name: model_performance_metric; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.model_performance_metric (id, model_id, task_type, success, latency_ms, input_tokens, output_tokens, error_message, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: model_usage; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.model_usage (id, model_id, project_id, agent_id, task_id, input_tokens, output_tokens, cost, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: models; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.models (id, model_id, provider, display_name, description, capabilities, status, max_tokens, token_limit, cost_per_token, configuration, model_metadata, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: notification; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.notification (id, level, requires_acknowledgement, acknowledged) FROM stdin;
\.


--
-- Data for Name: optimization_implementation; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.optimization_implementation (id, suggestion_id, implementation_details, implemented_by, result_metrics, success, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: optimization_suggestion; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.optimization_suggestion (id, category, description, evidence, status, impact_score, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: performance_metric; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.performance_metric (id, entity_id, entity_type, metric_name, metric_value, context, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: project; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.project (id, name, description, status, owner_id, project_metadata, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: provider_quotas; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.provider_quotas (id, provider, daily_token_limit, monthly_token_limit, daily_cost_limit, monthly_cost_limit, daily_tokens_used, monthly_tokens_used, daily_cost_used, monthly_cost_used, daily_reset_at, monthly_reset_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: requests; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.requests (id, request_id, request_type, model_id, provider, user_id, project_id, task_id, request_data, response_data, prompt_tokens, completion_tokens, total_tokens, latency_ms, cost, success, error_message, error_code, created_at, completed_at) FROM stdin;
\.


--
-- Data for Name: task; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.task (id, name, description, status, priority, start_date, due_date, completed_at, project_id, agent_id, result, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: task_dependencies; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.task_dependencies (id, dependent_task_id, dependency_task_id, dependency_type) FROM stdin;
\.


--
-- Data for Name: tool; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.tool (id, name, description, capability, source, documentation_url, schema, integration_type, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public."user" (id, username, email, password_hash, is_active, is_admin, role, status, permissions, created_at, updated_at) FROM stdin;
\.


--
-- Name: agent agent_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.agent
    ADD CONSTRAINT agent_pkey PRIMARY KEY (id);


--
-- Name: agent_tools agent_tools_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.agent_tools
    ADD CONSTRAINT agent_tools_pkey PRIMARY KEY (agent_id, tool_id);


--
-- Name: ai_model ai_model_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.ai_model
    ADD CONSTRAINT ai_model_pkey PRIMARY KEY (id);


--
-- Name: approval_request approval_request_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.approval_request
    ADD CONSTRAINT approval_request_pkey PRIMARY KEY (id);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: clarification_request clarification_request_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.clarification_request
    ADD CONSTRAINT clarification_request_pkey PRIMARY KEY (id);


--
-- Name: communication communication_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.communication
    ADD CONSTRAINT communication_pkey PRIMARY KEY (id);


--
-- Name: feedback_request feedback_request_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.feedback_request
    ADD CONSTRAINT feedback_request_pkey PRIMARY KEY (id);


--
-- Name: human_interaction human_interaction_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.human_interaction
    ADD CONSTRAINT human_interaction_pkey PRIMARY KEY (id);


--
-- Name: model_budget model_budget_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.model_budget
    ADD CONSTRAINT model_budget_pkey PRIMARY KEY (id);


--
-- Name: model_feedback model_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.model_feedback
    ADD CONSTRAINT model_feedback_pkey PRIMARY KEY (id);


--
-- Name: model_performance_history model_performance_history_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.model_performance_history
    ADD CONSTRAINT model_performance_history_pkey PRIMARY KEY (id);


--
-- Name: model_performance_metric model_performance_metric_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.model_performance_metric
    ADD CONSTRAINT model_performance_metric_pkey PRIMARY KEY (id);


--
-- Name: model_performance model_performance_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.model_performance
    ADD CONSTRAINT model_performance_pkey PRIMARY KEY (id);


--
-- Name: model_usage model_usage_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.model_usage
    ADD CONSTRAINT model_usage_pkey PRIMARY KEY (id);


--
-- Name: models models_model_id_key; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.models
    ADD CONSTRAINT models_model_id_key UNIQUE (model_id);


--
-- Name: models models_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.models
    ADD CONSTRAINT models_pkey PRIMARY KEY (id);


--
-- Name: notification notification_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.notification
    ADD CONSTRAINT notification_pkey PRIMARY KEY (id);


--
-- Name: optimization_implementation optimization_implementation_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.optimization_implementation
    ADD CONSTRAINT optimization_implementation_pkey PRIMARY KEY (id);


--
-- Name: optimization_suggestion optimization_suggestion_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.optimization_suggestion
    ADD CONSTRAINT optimization_suggestion_pkey PRIMARY KEY (id);


--
-- Name: performance_metric performance_metric_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.performance_metric
    ADD CONSTRAINT performance_metric_pkey PRIMARY KEY (id);


--
-- Name: project project_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.project
    ADD CONSTRAINT project_pkey PRIMARY KEY (id);


--
-- Name: provider_quotas provider_quotas_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.provider_quotas
    ADD CONSTRAINT provider_quotas_pkey PRIMARY KEY (id);


--
-- Name: requests requests_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_pkey PRIMARY KEY (id);


--
-- Name: requests requests_request_id_key; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_request_id_key UNIQUE (request_id);


--
-- Name: task_dependencies task_dependencies_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.task_dependencies
    ADD CONSTRAINT task_dependencies_pkey PRIMARY KEY (id);


--
-- Name: task task_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.task
    ADD CONSTRAINT task_pkey PRIMARY KEY (id);


--
-- Name: tool tool_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.tool
    ADD CONSTRAINT tool_pkey PRIMARY KEY (id);


--
-- Name: user user_email_key; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_email_key UNIQUE (email);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: user user_username_key; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_username_key UNIQUE (username);


--
-- Name: idx_model_history_model_task_period; Type: INDEX; Schema: public; Owner: sa
--

CREATE UNIQUE INDEX idx_model_history_model_task_period ON public.model_performance_history USING btree (model_id, task_type, period_start, period_type);


--
-- Name: idx_model_performance_model_task; Type: INDEX; Schema: public; Owner: sa
--

CREATE UNIQUE INDEX idx_model_performance_model_task ON public.model_performance USING btree (model_id, task_type);


--
-- Name: ix_model_feedback_model_id; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX ix_model_feedback_model_id ON public.model_feedback USING btree (model_id);


--
-- Name: ix_model_feedback_request_id; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX ix_model_feedback_request_id ON public.model_feedback USING btree (request_id);


--
-- Name: ix_model_feedback_task_type; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX ix_model_feedback_task_type ON public.model_feedback USING btree (task_type);


--
-- Name: ix_model_feedback_user_id; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX ix_model_feedback_user_id ON public.model_feedback USING btree (user_id);


--
-- Name: ix_model_performance_history_model_id; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX ix_model_performance_history_model_id ON public.model_performance_history USING btree (model_id);


--
-- Name: ix_model_performance_history_period_start; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX ix_model_performance_history_period_start ON public.model_performance_history USING btree (period_start);


--
-- Name: ix_model_performance_history_task_type; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX ix_model_performance_history_task_type ON public.model_performance_history USING btree (task_type);


--
-- Name: ix_model_performance_model_id; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX ix_model_performance_model_id ON public.model_performance USING btree (model_id);


--
-- Name: ix_model_performance_task_type; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX ix_model_performance_task_type ON public.model_performance USING btree (task_type);


--
-- Name: agent_tools agent_tools_agent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.agent_tools
    ADD CONSTRAINT agent_tools_agent_id_fkey FOREIGN KEY (agent_id) REFERENCES public.agent(id) ON DELETE CASCADE;


--
-- Name: agent_tools agent_tools_tool_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.agent_tools
    ADD CONSTRAINT agent_tools_tool_id_fkey FOREIGN KEY (tool_id) REFERENCES public.tool(id) ON DELETE CASCADE;


--
-- Name: audit_log audit_log_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public."user"(id) ON DELETE SET NULL;


--
-- Name: communication communication_from_agent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.communication
    ADD CONSTRAINT communication_from_agent_id_fkey FOREIGN KEY (from_agent_id) REFERENCES public.agent(id) ON DELETE CASCADE;


--
-- Name: communication communication_to_agent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.communication
    ADD CONSTRAINT communication_to_agent_id_fkey FOREIGN KEY (to_agent_id) REFERENCES public.agent(id) ON DELETE CASCADE;


--
-- Name: human_interaction human_interaction_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.human_interaction
    ADD CONSTRAINT human_interaction_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE SET NULL;


--
-- Name: model_budget model_budget_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.model_budget
    ADD CONSTRAINT model_budget_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.project(id) ON DELETE CASCADE;


--
-- Name: model_performance_metric model_performance_metric_model_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.model_performance_metric
    ADD CONSTRAINT model_performance_metric_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.ai_model(id) ON DELETE CASCADE;


--
-- Name: model_usage model_usage_agent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.model_usage
    ADD CONSTRAINT model_usage_agent_id_fkey FOREIGN KEY (agent_id) REFERENCES public.agent(id) ON DELETE SET NULL;


--
-- Name: model_usage model_usage_model_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.model_usage
    ADD CONSTRAINT model_usage_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.ai_model(id) ON DELETE CASCADE;


--
-- Name: model_usage model_usage_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.model_usage
    ADD CONSTRAINT model_usage_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.project(id) ON DELETE SET NULL;


--
-- Name: model_usage model_usage_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.model_usage
    ADD CONSTRAINT model_usage_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.task(id) ON DELETE SET NULL;


--
-- Name: optimization_implementation optimization_implementation_implemented_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.optimization_implementation
    ADD CONSTRAINT optimization_implementation_implemented_by_fkey FOREIGN KEY (implemented_by) REFERENCES public."user"(id) ON DELETE SET NULL;


--
-- Name: optimization_implementation optimization_implementation_suggestion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.optimization_implementation
    ADD CONSTRAINT optimization_implementation_suggestion_id_fkey FOREIGN KEY (suggestion_id) REFERENCES public.optimization_suggestion(id) ON DELETE CASCADE;


--
-- Name: task_dependencies task_dependencies_dependency_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.task_dependencies
    ADD CONSTRAINT task_dependencies_dependency_task_id_fkey FOREIGN KEY (dependency_task_id) REFERENCES public.task(id) ON DELETE CASCADE;


--
-- Name: task_dependencies task_dependencies_dependent_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.task_dependencies
    ADD CONSTRAINT task_dependencies_dependent_task_id_fkey FOREIGN KEY (dependent_task_id) REFERENCES public.task(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

